$c-gray-1: #333;
$c-footer: #8c9772;
$c-gray-3: #828282;
$c-background: #e4dfd3;
$c-olive-green: #344f10;
$c-gray-6: #f2f2f2;

$tablet-min-witdh: 768px;
$desktop-min-width: 1280px;

$effectDuration: 0.3s;
